# Define global settings
global
    log stdout format raw local0 info
    maxconn 4096  # Maximum number of connections
    master-worker
    stats socket /tmp/haproxy-master.sock mode 600 level admin expose-fd listeners

# Default settings for all proxies
defaults
    log     global
    mode    http        # Operate in HTTP mode
    option  httplog     # Enable HTTP logging
    timeout connect 5s  # Max time to wait for a connection attempt to a server
    timeout client  30s # Max inactivity time on the client side
    timeout server  30s # Max inactivity time on the server side

frontend https_sni_router
bind *:443 ssl crt /etc/haproxy/certs/server-cert.pem
mode http

acl sni_wwwx ssl_fc_sni -i www.x.org
acl sni_wps   ssl_fc_sni -i wps-psc.dmp.monespacesante.fr

use_backend bk_xorg if sni_wwwx
use_backend bk_wps  if sni_wps
default_backend bk_none

backend bk_xorg
mode http
server xorg www.x.org:443 ssl verify none

backend bk_wps
mode http
server wps wps-psc.dmp.monespacesante.fr:443 ssl verify none crt /etc/haproxy/certs/client.pem

backend bk_none
mode http
http-response set-status 503 reason "Service Unavailable"
